{
    "endpoint": "/admin",
    "method": "GET",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/admin",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin",
    "method": "POST",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/admin",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/favicon.ico",
    "method": "GET",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/admin/favicon.ico",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}",
    "method": "GET",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/admin/__next/{param1}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}/{param2}",
    "method": "GET",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/admin/__next/{param1}/{param2}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}/{param2}/{param3}",
    "method": "GET",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/admin/__next/{param1}/{param2}/{param3}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}/{param2}/{param3}/{param4}",
    "method": "GET",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/admin/__next/{param1}/{param2}/{param3}/{param4}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
}