{
    "endpoint": "/admin",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/admin",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin",
    "method": "POST",
    "backend": [
        {
            "url_pattern": "/admin",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/favicon.ico",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/admin/favicon.ico",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/_next/static/media/4473ecc91f70f139-s.p.woff",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/admin/_next/static/media/4473ecc91f70f139-s.p.woff",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/admin/__next/{param1}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}/{param2}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/admin/__next/{param1}/{param2}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}/{param2}/{param3}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/admin/__next/{param1}/{param2}/{param3}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
},
{
    "endpoint": "/admin/__next/{param1}/{param2}/{param3}/{param4}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/admin/__next/{param1}/{param2}/{param3}/{param4}",
            "host": [
                "http://localhost:4001"
            ]
        }
    ]
}