{
    "endpoint": "/",
    "method": "GET",
    "output_encoding": "no-op",
    "querystring_params": [
        "*"
    ],
    "headers_to_pass": [
        "*"
    ],
    "backend": [
        {
            "encoding": "no-op",
            "url_pattern": "/",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
}