{
    "endpoint": "/",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
},
{
    "endpoint": "/",
    "method": "POST",
    "backend": [
        {
            "url_pattern": "/",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
},
{
    "endpoint": "/favicon.ico",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/favicon.ico",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
},
{
    "endpoint": "/__next/{param1}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/__next/{param1}",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
},
{
    "endpoint": "/__next/{param1}/{param2}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/__next/{param1}/{param2}",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
},
{
    "endpoint": "/__next/{param1}/{param2}/{param3}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/__next/{param1}/{param2}/{param3}",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
},
{
    "endpoint": "/__next/{param1}/{param2}/{param3}/{param4}",
    "method": "GET",
    "backend": [
        {
            "url_pattern": "/__next/{param1}/{param2}/{param3}/{param4}",
            "host": [
                "http://localhost:4000"
            ]
        }
    ]
}